.menu {
    list-style-type: none;
    background-color: black;
    border-radius: 1rem;
}

.menu li a{
    text-decoration: none;
    color:white;
    border-radius: 1rem;
}

.menu li a:hover{
    background-color: chocolate;
}

footer {
    border-top: 5px solid #974500;
    border-bottom: 5px solid #974500;
    border-radius: 1rem;
    background-color: #C35D09;
    color: #FFFFFF;
}

footer a {
    text-decoration: none;
}

.redes {
    background-color: #C35D09;
}

.contacto {
    background-color: #24303c;
    border-radius: 1rem;
    color: #FFFFFF;
    
}

.contacto h1{
    font-size: 2em;
}

.control, #msg{
    color: #7f8892;
    border-radius: 0.5rem;
    border: 1px solid #1f53c5;
    background-color: #24303c;
    font-size: 18px;
}



.boton{
    background-color: #1f53c5;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
}

fieldset {
    border: 1px solid #1f53c5;
    border-radius: 0.5rem;
}
