header {
    display: flex;
    justify-content: center;

}
nav li {
    display: flex;
    margin: 0 4px 0 4px;
    padding: 0.5em;
}
.menu {
    padding: 0;
    width: 100%;
    max-width: 1000px;
    margin:auto;
    justify-content: center;
}
.menu li a{
    padding: 20px;
    display: block;
}
.menu li{
    display: inline-block;
    text-align: center;
}
footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
.contenedor {
    display: flex;
    padding: 0%;
}
.contenedor section, footer{
    padding: 1em;
    text-align: center;
}
footer {
    display: grid;
    justify-content: center;
}
.redes {
    margin-top: 20px;
    border: 0px;
}
.contacto {
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    
}
.contacto h1{
    text-align: center;
    margin-bottom: 20px;
}
.control, #msg{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 16px;
}
.boton{
    width: 100%;
    margin-top: 10px;
    padding: 12px;
}
fieldset {
    padding-right: 33px;
    margin-top: 10px;
}

.bio img {
    float: left;
}
.grid {
    padding-top: 1em;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    "n1 n1 n2"
    "n1 n1 n3"
    "n4 n6 n5"
    "n4 n7 n5";
    gap: 1em;
}
.item {
    text-align: center;
}
.bio{
    grid-area: n1;
}
.infAcademica {
    grid-area: n2;
}
.pasatiempo {
    grid-area: n3;
}
.habilidadesTec{
    grid-area: n4;
}
.habilidadesPersonales {
    grid-area: n5;
}
.cita {
    grid-area: n6;
}
.sitio {
    grid-area: n7;
}


.galeria{
    text-align: center;
}
table{
    width: 100%;
}