
body{
	/*width:70%;*/
    background-color:#FFCB98;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:small;
    text-align: center;
}
header{
    background-color:#C35D09;
	color:#FFFFFF;
	padding-top:0;
	padding-right:20px;
	padding-bottom:0;
	padding-left:20px;
	/*height:100px; */
	border-bottom:solid medium #974500;
}

tr, td {
    padding: 3px;
}

table a:link{
   color:darkorange;
}

table a:visited{
    color: cadetblue;
}

.Hombres, .Mujeres, .titulo {
    color:rgb(36, 140, 189);
    font-size: medium;
    text-align: center;

}

.multimedia{
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

section{

        background-color:#FFFFFF;
        color:#000000;        
        margin-top:10px;
        margin-right:auto;
        margin-bottom:10px;
        margin-left:auto;
        border:solid thin #999999
}

footer{
    padding:10px;
    border-top:5px solid #974500;
    margin-top:20px;
    background-color:#C35D09;
    color:#FFFFFF;
}

footer a{
    text-decoration: none;
}
.redes{
    margin-top: 20px;
    background-color:#C35D09;
    border: 0px;
}

fieldset label{
    padding-top: 8px;
    padding-bottom: 3px;
}

nav li{
        display:inline;
        list-style-type:none;
        margin:0 2px 0 2px;
    }
    
nav a{
        color:#FFFFFF;
        background-color:#974500;
        padding:4px 8px 4px 8px;
        border: 1px solid #FFFFFF;
        text-decoration:none;
    }    

nav a:hover
    {
        text-decoration:none;
        color:#000000;
        background-color:#FFFFFF;
        padding-bottom:5px;
        border-bottom:none;
    }

nav ul {
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

nav li{
    padding: 15px;
}

section li {
    text-align: left;
    width: 40%;
    margin-left: 37%;
}

section table{
    text-align: center;
    width: 40%;
    margin-left: 20%;
}

em{
    color:#812866;
}

.cita{
    font-size:medium;
}

strong{
    color: #530317;
    font-size: medium;
}

.autobio{
    text-align: justify;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}